* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.cabecalho {
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: space-between;
}

.cabecalho>img {
    height: 60px;

}

.menu {
    height: 60px;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu>li>a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-right: 20px;
    font-weight: 10;
}


.menu>li>a:hover {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin-right: 20px;
    font-weight: 10;
    transition: 0.5s;
    background-color: rgba(155, 39, 39, 0.632);
    border-radius: 2px;
    border-bottom: 1px white solid;
    font-size: 25px;
}

.pizzaimg {
    height: 450px;
    background-image: url(../img/pizza.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.73);
}

.botao {
    text-decoration: none;
    border: 2px white solid;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.429);
    font-size: 30px;
}

.texte {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 50px;
}

.botao:hover {
    text-decoration: none;
    border: 2px white solid;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.429);
    font-size: 40px;
    transition: 0.5s;
}

.centro {
    text-align: center;
}

.tilo {
    color: green;
    margin-top: 20px;
    margin-bottom: 5px;
}

hr {
    border: none;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(9, 9, 121, 0) 0%, rgba(179, 0, 0, 0.8492647058823529) 48%, rgba(0, 212, 255, 0) 100%);
    height: 3px;

}

.loto {
    margin-top: 10px;
    margin-bottom: 10px;
}

.sabores{
    display:flex;
    justify-content: center;
    margin: 10px;
}

.sabor{
    margin: 10px;
    background-color: darkgreen;
    padding-bottom: 15px;
    border-radius: 30px 30px 20px 20px;
    
}

.preco{
    background-color: gold;
    width: 180px;
    height: 30px;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 10px;
}

p{
    text-align: center;
}

.nome{
    color: white;
    text-shadow: 2px 2px 2px black ;
}
img{
    border-radius: 30px 30px 0px 0px;
}

.o{
border-radius: 0%;
}

.sabor:hover{
    margin: 20px;
    background-color: darkgreen;
    padding-bottom: 15px;
    border-radius: 30px 30px 0px 0px;
    transition: 500ms;
 }

.direita{
    float: right;
    display: flex;
    flex-direction: column;
    color: white;
 }

 .promocoes{
    display: flex;
    overflow: scroll;
 }

 .rodape{
    background-color: red;
    display: flex;
    justify-content: space-between;
 }

 .indereco{
    color: white;
 }
  
li{
    list-style-type: none;
}

.social>ul>li>a{
    color: white;
    text-decoration: none;
}

.social{
    margin: 5px;
    margin-top: 5px;
}
















